<table>
	<tbody>
		<tr><th scope="row">URL</th><td><%= feed_link(@feed) %></td></tr>
		<tr><th scope="row">Title</th><td><%= feed_title(@feed) %></td></tr>
		<tr><th scope="row">Description</th><td><%=  feed_description(@feed) %></td></tr>
	</tbody>
</table>
<%=  entry_list(@feed) %>
