<section class="feed-meta">
	Could not fetch feed <a href="<%= @url %>"><%= @url %></a>
</section>

<section class="feed-entries fetch-error">
	<strong>Reason:</strong> <%= error_reason(@error) %>
</section>
